# MySQL Database Configuration
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=signlangai_db

# MongoDB Configuration
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=signlangai_logs
